.custom-prev-arrow {
    position: absolute;
    top: 50%;
    left: -35px;
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 50%;
}

.custom-next-arrow {
    position: absolute;
    top: 50%;
    right: -35px;
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 50%;
}
